header {
    height: 60px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.imdb-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.imdb-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

.imdb-contact-container {
    display: flex;
    align-items: center;
}

.imdb-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}

.imdb-search {
    display: flex;
    width: 700px;
}
